@model IEnumerable<FAcT.Models.Articulos>

@{
    ViewData["Title"] = "Index";
}

<h1>Articulos</h1>

<p>
    <a asp-action="Create"class="btn btn-success ">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.unidaddemedidas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClasificaciondeArticulos)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.unidaddemedidas.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marca.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClasificaciondeArticulos.Descripcion)
            </td>
          
            <td>
                @Html.DisplayFor(modelItem => item.Status.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.articulosID"class="btn btn-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.articulosID"class="btn btn-info">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.articulosID"class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
