@model IEnumerable<FAcT.Models.Pais>

@{
    ViewData["Title"] = "Index";
}

<h1>Pais</h1>

<p>
    <a asp-action="Create"class="btn btn-primary" b >Crea un Nuevo Pais</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre_pais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moneda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre_pais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Moneda.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.paisID"class="btn btn-warning">Edit</a> 
                <a asp-action="Details" asp-route-id="@item.paisID"class="btn btn-success">Details</a> 
                <a asp-action="Delete" asp-route-id="@item.paisID"class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
